.login-container{
    background: url(../../assets/img/login.jpg);
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size:cover;
        width: 100%;
        position: fixed;
        height: 100%;
        background-repeat: no-repeat;
    }


    /* background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
    background-repeat: no-repeat; */