* {
    font-family: Montserrat, sans-serif;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.container {
    padding: 2px 16px;
}

.divHome,
.h2Honme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgHome {
    width: 100%;
}

.verMas {
    background-color: #212121;
    color: #fff;
    border-radius: 28px;
    text-decoration:none;

}

.verMas:hover {
    background-color: #212121ce;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}



.agregar {
    background-color: #d84747;
    color: rgb(253, 246, 246);
    border-radius: 28px;

}

.agregar:hover {
    background-color: #212121ce;
    cursor: pointer;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
    align-items: center;
    align-content: center;
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}